.jd_layout{
    min-width: 300px;
    max-width: 640px;
    margin:0 auto;
    position: relative;
}
/*ͷ���ֲ�ͼ*/

		.view-box {
			min-width: 300px;
			max-width: 640px;
			height:325px;
			padding: 5px;
			/*margin: 100px auto;*/
			border: 1px solid #CCC;
			background-color: #F2F2F2;
			border-radius: 5px;
		}

		.view-box ul {
			width: 100%;
			height: 100%;
			position: relative;
			overflow: hidden;
		}

		.view-box li {
			position: absolute;
			top: -325px;
		}

		.view-box li:first-child {
			top: 0;
		}

		.view-box li:nth-child(1) {
			animation: cycle 40s linear infinite;
		}

		.view-box li:nth-child(2) {
			animation: cycletwo 40s linear infinite;
		}

		.view-box li:nth-child(3) {
			animation: cyclethree 40s linear infinite;
		}

		.view-box li:nth-child(4) {
			animation: cyclefour 40s linear infinite;
		}

		.view-box li:nth-child(5) {
			animation: cyclefive 40s linear infinite;
		}

		@keyframes cycle {
			0%  {top: 0px;}
			4%  {top: 0px;}
			16% {top: 0px; opacity: 1; z-index: 0;} 
			20% {top: 325px; opacity: 0; z-index: 0;}
			21% {top: -325px; opacity: 0; z-index: -1;}
			50% {top: -325px; opacity: 0; z-index: -1;}
			92% {top: -325px; opacity: 0; z-index: 0;}
			96% {top: -325px; opacity: 0;}
			100%{top: 0px; opacity: 1;}
		}

		@keyframes cycletwo {
			0%  {top: -325px; opacity: 0;}
			16% {top: -325px; opacity: 0;}
			20% {top: 0px; opacity: 1;}
			24% {top: 0px; opacity: 1;} 
			36% {top: 0px; opacity: 1; z-index: 0;} 
			40% {top: 325px; opacity: 0; z-index: 0;}
			41% {top: -325px; opacity: 0; z-index: -1;}  
			100%{top: -325px; opacity: 0; z-index: -1;}
		}

		@keyframes cyclethree {
			0%  {top: -325px; opacity: 0;}
			36% {top: -325px; opacity: 0;}
			40% {top: 0px; opacity: 1;}
			44% {top: 0px; opacity: 1;} 
			56% {top: 0px; opacity: 1; z-index: 0;} 
			60% {top: 325px; opacity: 0; z-index: 0;} 
			61% {top: -325px; opacity: 0; z-index: -1;}
			100%{top: -325px; opacity: 0; z-index: -1;}
		}

		@keyframes cyclefour {
			0%  {top: -325px; opacity: 0;}
			56% {top: -325px; opacity: 0;}
			60% {top: 0px; opacity: 1;}
			64% {top: 0px; opacity: 1;}
			76% {top: 0px; opacity: 1; z-index: 0;}
			80% {top: 325px; opacity: 0; z-index: 0;}
			81% {top: -325px; opacity: 0; z-index: -1;}
			100%{top: -325px; opacity: 0; z-index: -1;}
		}

		@keyframes cyclefive {
			0%  { top:-325px; opacity:0; }
			76% { top:-325px; opacity:0; }
			80% { top:0px; opacity:1; }
			84% { top:0px; opacity:1; }
			96% { top:0px; opacity:1; z-index:0; }
			100%{ top:325px; opacity:0; z-index:0; }
		}



/* ͷ������  start */
.jd_header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 1000;
}

.jd_header .jd_header_box{
    min-width: 300px;
    max-width: 640px;
    margin:0 auto;
    position: relative;
    background: rgba(201,21,35,0);
}

.jd_header .icon_logo{
    background-position: 0 -103px;
    height: 36px;
    width: 60px;
    display: block;
    position: absolute;
    top:4px;
    left: 5px;
}

.jd_header form{
    width: 90%;
    height: 40px;
    padding-left: 70px;
    padding-right: 50px;
}

.jd_header form .icon_search{
    background-position: -60px -109px;
    height: 20px;
    width: 20px;
    display: block;
    position: absolute;
    left: 80px;
    top: 10px;
}

.jd_header form input{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    margin-top: 5px;
    padding-left: 30px;
}
.jd_header .win{
	width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    font-size: 15px;
    position: absolute;
    right: 50px;
    top: 0;
	background: url(../images/sprites.png) no-repeat;
	background-position:-284px 8px;
	background-size: 400px 400px;
}

.jd_header .login{
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 15px;
    position: absolute;
    right: 0;
    top: 0;
}

/* ͷ������  end */
/* ͼƬ����  start */
/*.jd_banner{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.jd_banner ul:first-child{
    width: 1000%;
    -webkit-transform:translateX(-10%);
    transform:translateX(-10%);
}
.jd_banner ul:first-child li{
    width: 10%;
    float: left;
}
.jd_banner ul:first-child li img{
    width: 100%;
}

.jd_banner ul:last-child{
    position: absolute;
    left: 50%;
    bottom: 5px;
    width: 118px;
    margin-left: -59px;

}

.jd_banner ul:last-child li{
    width: 6px;
    height: 6px;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-left: 10px;
    z-index: 999;
    float: left;
}
.jd_banner ul:last-child li:first-child{
    margin-left: 0;
}
.jd_banner ul:last-child li.now{
    background: #fff;
}
*/
/* ͼƬ����  end */
/* ������  start */
.jd_nav{
    padding-top: 11px;
    background: #fff;
    border-bottom: 1px solid #ebebeb;
}
.jd_nav ul{
    height: 138px;
    padding:0 3.125%;
}
.jd_nav ul li{
    width: 25%;
    text-align: center;
    float: left;
}
.jd_nav ul li img{
    width: 40px;
    height: 40px;
    margin-bottom: 6px;
}
.jd_nav ul li p{
    font-size: 12px;
    line-height:12px;
    color: #5d5d5d;
    margin-bottom: 11px;
}
/* ������  end */
/*��Ʒ������ start*/
.jd_product{
    /* padding: 0 5px; */
    margin-top: 8px;
}
.jd_imgBox{
	min-width: 300px;
	max-width: 640px;
	height:394px;
	overflow:hidden;
}
.jd_imgBox img{
	width:100%;
}
.jd_kuaibao {
    margin-top: 5px;
    min-width: 300px;
    max-width: 640px;
    height: 50px;
    background: #ffffff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}
.jd_kuaibao img{
    width: 56px;
    height:45px;
    margin: 0px 10px;
}
.jd_kuaibao ul{
    width:87%;
    position: absolute;
    top:0px;
    right: 0px;
    text-align: left;
    animation: cyclezz 6s linear infinite;
}
@keyframes cyclezz{
    0%{
        opacity:0;
        top:45px;
    }
    10%{
        opacity: 1;
        top:0px;
    }
    40%{
        opacity: 1;
        top:0px;
    }
    60%{
        top:-45px;
    }
    90%{
        top:-45px;
    }
    99.99%{
        top:-75px;
        opacity:1;
    }
    100%{
        opacity: 0;
        top:45px;
    }

}
.jd_kuaibao ul li{
    height:45px;
    padding:5px 0px;
    font-size: 13px;
    font-family: "Microsoft YaHei" , "sans-serif";
}
.jd_kuaibao ul li p{
    height:18px;
}
.jd_kuaibao ul li p b{
    margin: 2px;
    display: inline-block;
    width:37px;
    height:90%;
    border:1px solid red;
    border-radius: 2px;
    text-align: center;
}
.jd_areaBox{
    box-shadow: 0 0 1px 1px #ebebeb;
    background: #fff;
    margin-bottom: 8px;
}
.jd_areaBox .jd_areaBox_top{
    height: 32px;
    line-height: 32px;
    position: relative;
}

.jd_areaBox .jd_areaBox_top .tit{
    color: #666;
    font-size: 14px;
    padding-left: 15px;
    font-weight: inherit;
}

.jd_areaBox .jd_areaBox_top .tit::before{
    height: 12px;
    width: 3px;
    display: block;
    content: "";
    position: absolute;
    top:10px;
    left: 7px;
    background: #d8505c;
}

.jd_killSecond{
    background: #fff;
    border-radius: 5px;
}
.jd_areaBox .jd_areaBox_bot{
    border-top: 1px solid #ebebeb;
}
.jd_areaBox .jd_areaBox_bot.no_bor{
    border-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.no_bor_m1,.no_bor_m2,.no_bor_m3,.no_bor_m4{
    width:50%;
    height:160px;
    padding: 10px 0px;
}
.no_bor_m1 ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.no_bor_m1 ul li{
    width: 33.3%;
    text-align: center;
    float: left;
    margin-bottom: 10px;
}
.no_bor_m1 ul li div{
    border-right: 1px solid #dcdcdc;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.no_bor_m1 ul li div img{
    width: 65%;
}
.no_bor_m1 ul li p:first-child{
    color: #d8505c;
    font-size: 14px;
    line-height: 20px;
}
.no_bor_m1 ul li p:last-child{
    color: #666;
    font-size: 12px;
    line-height: 16px;
    text-decoration: line-through;
}

.no_bor_m2>p{
    width: 100%;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.no_bor_m2>b{
    width:50px;
    height:50px;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0;
    transition: all .5s linear;
}
.no_bor_m2>b:hover{
    background: url("../images/right01.png");
    opacity: 1;
}
.no_bor_m2{
    border-bottom:1px solid #e8e8e8 ;
    border-left:1px solid #e8e8e8 ;
    position: relative;
}
.no_bor_m2 ul{
    width:98%;
    margin: 0 auto;
    display: flex;
    justify-content:center;
}
.no_bor_m2 ul{
    margin-top: 20px;
}
.no_bor_m3{
    border-top:1px solid #e8e8e8 ;
    border-right:1px solid #e8e8e8 ;
}
.no_bor_m3 ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.no_bor_m3 ul li{
    text-align: center;
    width:46%;
    padding: 0px 20px;
}
.no_bor_m3 ul li p:first-child{
    font:18px "Microsoft YaHei" , "sans-serif" ;
    color:#FF5D31;
    font-weight: 800;
}
.no_bor_m3 ul li p:last-child{
    font: 14px "Microsoft Sans Serif";
    font-weight: 500;
}
.no_bor_m3 ul li div{
    width: 100%;
    overflow: hidden;
}
.no_bor_m3 ul li img{
    width:100%;
    transition: all .5s linear;
}
.no_bor_m3 ul li img:hover{
    transform: scale(1.1);
}
.no_bor_m4 p:first-child{
    padding-left: 50px;
    font:18px "Microsoft YaHei" , "sans-serif" ;
    color:#FF5D31;
    font-weight: 800;
}
.no_bor_m4 p:nth-child(2){
    padding-left: 50px;
    font:14px "Microsoft YaHei" , "sans-serif" ;
    color:#333;
    font-weight: 500;
}
.no_bor_m4 ul{
    display: flex;
    justify-content: center;
}
.no_bor_m4 ul li{

}
    /*��Ʒ������ end*/
/*��ɱ start*/

.jd_killSecond .kill_top_left{
    float: left;
}
.jd_killSecond .kill_top_left .icon_kill{
    width: 16px;
    height: 20px;
    display: block;
    background: url("../images/seckill-icon.png") no-repeat;
    background-size: 16px 20px;
    margin-top: 6px;
    margin-left: 5px;
    float: left;
}
.jd_killSecond .kill_top_left h3{
    font-weight: inherit;
    color: #c91523;
    font-size: 15px;
    margin-left: 5px;
    float: left;
}
.jd_killSecond .kill_top_left .kill_time{
    margin-left: 5px;
    float: left;
}
.jd_killSecond .kill_top_left .kill_time .num{
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    background: #333;
    display: inline-block;
    margin-top: 8px;
}
.jd_killSecond .kill_top_left .kill_time .str{
}
.jd_killSecond .kill_top_right{
    float: right;
}
/*.jd_killSecond ul li{*/
    /*width: 33.3%;*/
    /*text-align: center;*/
    /*float: left;*/
    /*margin-bottom: 10px;*/
/*}*/
/*��ɱ end*/

/*���ڶ� start*/
.jd_big_box{
    padding: 5px;
}
.jd_big_box img{
    width: 100%;
}
/*���ڶ� end*/

/*��Ʒ���� start*/
.border_left{
    border-left: 1px solid #ebebeb;
}
.border_right{
    border-right: 1px solid #ebebeb;
}
.border_bottom{
    border-bottom: 1px solid #ebebeb;
}
.f_left{
    float: left;
    width: 50%;
}
.f_right{
    float: right;
    width: 50%;
}

.f_left img{
    width: 100%;
}
.f_right img{
    width: 100%;
}
/*��Ʒ���� start*/

/*�ص�����*/
.jd_back_top{
    width: 35px;
    height: 35px;
    position: fixed;
    bottom: 50px;
    right: 10px;
    background: url("../images/scroll-to-top-icon.png") no-repeat;
    background-size: 35px 35px;
    opacity: 0;
    transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
}




